.btn-pink { 
  color: #ffffff; 
  background-color: #FCAEAE; 
  border-color: #FCAEAE; 
} 
 
.btn-pink:hover, 
.btn-pink:focus, 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  color: #ffffff; 
  background-color: #FFA1A1; 
  border-color: #FCAEAE; 
} 
 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  background-image: none; 
} 
 
.btn-pink.disabled, 
.btn-pink[disabled], 
fieldset[disabled] .btn-pink, 
.btn-pink.disabled:hover, 
.btn-pink[disabled]:hover, 
fieldset[disabled] .btn-pink:hover, 
.btn-pink.disabled:focus, 
.btn-pink[disabled]:focus, 
fieldset[disabled] .btn-pink:focus, 
.btn-pink.disabled:active, 
.btn-pink[disabled]:active, 
fieldset[disabled] .btn-pink:active, 
.btn-pink.disabled.active, 
.btn-pink[disabled].active, 
fieldset[disabled] .btn-pink.active { 
  background-color: #FCAEAE; 
  border-color: #FCAEAE; 
} 
 
.btn-pink .badge { 
  color: #FCAEAE; 
  background-color: #ffffff; 
}

.btn-orange {
  color: #474747;
  background-color: #FCE3CF;
  border-color: #FFDCBF;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  color: #474747;
  background-color: #FFD2AD;
  border-color: #FFDCBF;
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: #FCE3CF;
  border-color: #FFDCBF;
}

.btn-orange .badge {
  color: #FCE3CF;
  background-color: #474747;
}

.btn-lightblue {
  color: #5E5C5C;
  background-color: #EBF4F5;
  border-color: #DFE5E8;
}

.btn-lightblue:hover,
.btn-lightblue:focus,
.btn-lightblue:active,
.btn-lightblue.active,
.open .dropdown-toggle.btn-lightblue {
  color: #5E5C5C;
  background-color: #CFE0E8;
  border-color: #DFE5E8;
}

.btn-lightblue:active,
.btn-lightblue.active,
.open .dropdown-toggle.btn-lightblue {
  background-image: none;
}

.btn-lightblue.disabled,
.btn-lightblue[disabled],
fieldset[disabled] .btn-lightblue,
.btn-lightblue.disabled:hover,
.btn-lightblue[disabled]:hover,
fieldset[disabled] .btn-lightblue:hover,
.btn-lightblue.disabled:focus,
.btn-lightblue[disabled]:focus,
fieldset[disabled] .btn-lightblue:focus,
.btn-lightblue.disabled:active,
.btn-lightblue[disabled]:active,
fieldset[disabled] .btn-lightblue:active,
.btn-lightblue.disabled.active,
.btn-lightblue[disabled].active,
fieldset[disabled] .btn-lightblue.active {
  background-color: #EBF4F5;
  border-color: #DFE5E8;
}

.btn-lightblue .badge {
  color: #EBF4F5;
  background-color: #5E5C5C;
}

.btn-meblue { 
  color: #FFFFFF; 
  background-color: #A1DAE6; 
  border-color: #A1DAE6; 
} 
 
.btn-meblue:hover, 
.btn-meblue:focus, 
.btn-meblue:active, 
.btn-meblue.active, 
.open .dropdown-toggle.btn-meblue { 
  color: #FFFFFF; 
  background-color: #88CDDB; 
  border-color: #A1DAE6; 
} 
 
.btn-meblue:active, 
.btn-meblue.active, 
.open .dropdown-toggle.btn-meblue { 
  background-image: none; 
} 
 
.btn-meblue.disabled, 
.btn-meblue[disabled], 
fieldset[disabled] .btn-meblue, 
.btn-meblue.disabled:hover, 
.btn-meblue[disabled]:hover, 
fieldset[disabled] .btn-meblue:hover, 
.btn-meblue.disabled:focus, 
.btn-meblue[disabled]:focus, 
fieldset[disabled] .btn-meblue:focus, 
.btn-meblue.disabled:active, 
.btn-meblue[disabled]:active, 
fieldset[disabled] .btn-meblue:active, 
.btn-meblue.disabled.active, 
.btn-meblue[disabled].active, 
fieldset[disabled] .btn-meblue.active { 
  background-color: #A1DAE6; 
  border-color: #A1DAE6; 
} 
 
.btn-meblue .badge { 
  color: #A1DAE6; 
  background-color: #FFFFFF; 
}